@import "tailwindcss";

:root {
  --primary: #233931;
  --secondary: #49a56a;
  --tertiary: #2a5f44;

  --background: #bbc2c0;
  --foreground: #ffffff;

  --selected: #d8e9e4;
  --warning: #f23636;

  --on-background: #ffffff;
  --on-foreground: #000000;

  --placeholder: #9faeba;
}


.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-tertiary {
  background-color: var(--tertiary);
}
.bg-background {
  background-color: var(--background);
}
.bg-foreground {
  background-color: var(--foreground);
}
.bg-selected {
  background-color: var(--selected);
}


.on-background {
  color: var(--on-background);
}
.on-foreground {
  color: var(--on-foreground);
}
.placeholder {
  color: var(--placeholder);
}