@import "tailwindcss";

h1 {
  font-size: 28px;
  font-weight: 600;
}

:root {
  --primary: #233931;
  --secondary: #49a56a;
  --tertiary: #2a5f44;

  --background: #bbc2c0;
  --foreground: #ffffff;

  --selected: #d8e9e4;
  --warning: #f23636;

  --color-primary: #000000;
  --color-secondary: #49a369;
  --color-tertiary: #939494;

  --color-primary-variant: #ffffff;

  --placeholder: #9faeba;
}

.inter {
  font-family: "Inter", sans-serif;
}
.castoro {
  font-family: "Castoro", serif;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-tertiary {
  background-color: var(--tertiary);
}
.bg-background {
  background-color: var(--background);
}
.bg-foreground {
  background-color: var(--foreground);
}
.bg-selected {
  background-color: var(--selected);
}
.bg-warning {
  background-color: var(--warning);
}

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-primary-variant {
  color: var(--color-primary-variant);
}
.text-placeholder {
  color: var(--placeholder);
}